---
const { text, size = "medium", variant = "primary", ...props } = Astro.props;

// Define class names based on props
const sizeClass =
  size === "small"
    ? "px-2 py-1 text-sm"
    : size === "large"
      ? "px-6 py-3 text-lg"
      : "px-4 py-2";
const variantClass =
  variant === "secondary"
    ? "bg-transparent hover:bg-zinc-100 text-zinc-700"
    : "bg-emerald-500 text-white border-emerald-500 hover:bg-emerald-600 hover:border-emerald-600";
const baseClass = "rounded-md  border border-zinc-300 shadow-sm transition";

// Combine the classes
const buttonClass = `${baseClass} ${sizeClass} ${variantClass}`;
---

<button class={buttonClass} {...props}>
  {text}
</button>
